name: NET

on:
  push:
    branches: [ "master" ]
    paths-ignore:
      - 'README.md'
  pull_request:
    branches: [ "master" ]
    paths-ignore:
      - 'README.md'
  workflow_dispatch:

jobs:
  build-test-and-coverage:
    permissions:
      pages: write
      id-token: write
  
    runs-on: ubuntu-24.04

    steps:
    - name: Check out repo
      uses: actions/checkout@v6
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        global-json-file: global.json
    
    - name: Restore dependencies
      run: dotnet restore
    
    - name: Build
      run: dotnet build --no-restore
    
    - name: Test
      run: dotnet test --no-build --verbosity normal /p:CollectCoverage=true /p:CoverletOutputFormat=lcov

    - name: Run ReportGenerator
      env:
        ReportGenVersion: 5.5.1
        NetVersion: net8.0
      run: dotnet $HOME/.nuget/packages/reportgenerator/$ReportGenVersion/tools/$NetVersion/ReportGenerator.dll -reports:SharpFractionsTest/coverage.info -targetdir:covreport -reporttypes:"Html;JsonSummary"

    - name: Upload ReportGen artifact
      uses: actions/upload-pages-artifact@v4
      with:
        name: ReportGenerator
        path: covreport

    - name: Deploy to GitHub Pages
      uses: actions/deploy-pages@v4
      with:
        artifact_name: ReportGenerator
